html {
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    background: #AAC4FF;
    color: black;
}
#D2DAFF
body {
    margin: 8px;
}

img {
    width: 150px;
    height: 150px;
}
.container {
    width: 800px;
    height: 800px;
    background-color: #EEF1FF;
    border-radius: 15px;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 50px black solid;
}

h1 {
    display: block;
    font-size: 80px;
    margin: 20px;
    font-weight: bold;
    font-weight: 600;
    color: #B1B2FF;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin: 20px;
    margin: 20px;
    font-weight: bold;
    color: #B1B2FF;
}

h1, h2 {
    text-align: center;

}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-container {
    display: none;
}

.score-container {
    display: none;
}

.end {
    display: none;
}

.buttons {
    display: flex;
    justify-content: center;
}

#result {
    text-align: center;
    font-size: 52px;
}

.btn.btn-start {
    font-size: 40px;
    padding: 30px;
    margin: 20px 200px;
}

.btn {
    color: #B1B2FF;
    margin: 20px;
    background: #EEF1FF;
    border-width:10px;
    border-style: solid;
    border-color: #B1B2FF;
    border-image: initial;
    border-radius: 20px;
    font-weight: bold;
    transition: all .07s ease;
}

.mouseover {
    transform: scale(1.1);
}


.score-card {
    background-color: #EEF1FF;
    margin: 20px 300px;
    border-radius: 20px;
}

